body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /*display: -moz-box;*/
    /*-moz-box-orient: horizontal;*/
    /*-moz-box-pack: center;*/
    /*-moz-box-align: center;*/
    /*display: -o-box;*/
    /*-o-box-orient: horizontal;*/
    /*-o-box-pack: center;*/
    /*-o-box-align: center;*/
    /*display: -ms-box;*/
    /*-ms-box-orient: horizontal;*/
    /*-ms-box-pack: center;*/
    /*-ms-box-align: center;*/
    /*display: box;*/
    /*box-orient: horizontal;*/
    /*box-pack: center;*/
    /*box-align: center;*/
}
.center img,
.text {
    border: 1px solid #dedede;
    padding: 2px;
}